.barra {
  position: absolute;
  width: 15.5vw;
  top: 8vh;
  bottom: 0px;
  left: 0px;
  background:url(../images/pipe1.png);
  background-size: 15.5vw 92vh;
  color: white;
  text-shadow: 2px 2px 0 black;
}
.space{
  padding-top: 5px;
  padding-bottom:5px
}
.wrapperK{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 40px;
  position: relative;
}
.wrapperE{
  height: 12vh;
}
.listaB {
  list-style: none;
}
.botonf {
  height: 5vh;
  width: 10vw;
  font-size: 13px;
  transition: 0.1s;
}
.botonf:hover {
  transform: translate(10px, 0);
}
.botonfi {
  height: 5vh;
  width: 8vw;
  font-size: 15px;
  font-weight: bolder;
  transition: 0.1s;
}
.botonfi:hover {
  transform: translate(10px, 0);
}
.in {
  background-color: rgba(255, 255, 255, 0);
  border: 0ch;
  color: white;
  text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.849);
  font-size: 1.5em;
  cursor: pointer;
}
/* .submitClear{
  cursor: pointer;
  height: 10vh;
  background-color: #ffe65c;
} */