.contenerPlantilla{
    display: grid;
    grid-template-columns: 25vw 50vw 20vw;
    grid-template-rows:25vh 40vh 30vh; 
}
.creare{
    height: 25vh;
}
.marioY{
    grid-column:3;
    grid-row:3;
    justify-self: flex-end;
    align-self: flex-end;
}
.yoshiM{
    height: 35vh;
}
.ButtonHome{
    grid-row:3;
    grid-column: 1;
    justify-self: flex-start;
    align-self: flex-end;
}