.formulario{
    grid-row:1;
    grid-column: 1;
    align-self: flex-start;
    justify-self: center;
}
.submit{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 30vh;
    width: 35vw;
    background-image:url(https://cdn.pixabay.com/photo/2016/04/01/22/55/countries-1301799_960_720.png);
    background-size:17vw;
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 5px;
}
.crearactividad{
    color: rgb(129, 199, 23);
    background-color: rgba(0, 0, 0, 0.747);
    font-size: larger;
    font-weight: bolder;
}
.colocarNombre{
    border: 1px solid rgb(129, 199, 23);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.747);
    color: rgb(129, 199, 23);
    font-size: larger;
    font-weight: bolder;
}
.selecDifi{
    border: 1px solid rgb(129, 199, 23);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.747);
    color: rgb(129, 199, 23);
    font-size: larger;
    font-weight: bolder;
}
.colocarDuracion{
    border: 1px solid rgb(129, 199, 23);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.747);
    color: rgb(129, 199, 23);
    font-size: larger;
    font-weight: bolder;
}
.selecPais{
    border: 1px solid rgb(129, 199, 23);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.747);
    color: rgb(129, 199, 23);
    font-size: larger;
    font-weight: bolder;
}
.botonSub{
    border: 1px solid rgb(129, 199, 23);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.747);
    color: rgb(129, 199, 23);
    font-size: larger;
    font-weight: bolder;
}
.selecTemporada{
    border: 1px solid rgb(129, 199, 23);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.747);
    color: rgb(129, 199, 23);
    font-size: larger;
    font-weight: bolder;
}
.paisesAgregados{   
    background-color:rgba(129, 199, 23, 0.774) ;
    max-width: 35vw;
    color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.danger{
    background-color: rgba(129, 199, 23, 0.774);
    color:red;
}