.todo-el-detalle{
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.568);
    color:rgb(187, 187, 187);
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 40vh 30vh;
}
.regresar{
    grid-column: 1;
    grid-row: 3;
    justify-self: flex-start;
    align-self: flex-end;
}
.titulo-char{
    grid-column: 1;
    grid-row: 1;
    justify-self: flex-end;
    align-self: flex-start;
}
.continente{
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 30px;
}
.bandera{
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    height: 40vh;
}
.nombre{
    grid-column: 1;
    grid-row: 1;
    margin-left: 10px;
}
.content{
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    align-self: center;
}
.actividades{
    background-color: rgba(0, 0, 0, 0.822);
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    max-width: 43vw;
    max-height: 30vh;
    overflow: auto;
    scrollbar-color: rgb(129, 199, 23) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    justify-self: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border:rgb(129, 199, 23) ridge;
}
.actividades::-webkit-scrollbar {
    -webkit-appearance: none;
}

.actividades::-webkit-scrollbar:vertical {
    width:10px;
}

.actividades::-webkit-scrollbar-button:increment,.actividades::-webkit-scrollbar-button {
    display: none;
} 

.actividades::-webkit-scrollbar:horizontal {
    height: 10px;
}

.actividades::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.actividades::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.actividad{
    border:rgb(129, 199, 23) dashed;
    color:rgb(129, 199, 23);
}
.crear{
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    align-self: stretch;
    grid-template-columns: 50vw;
    grid-template-rows: 10vh;
}


