.boton{
    width: 98vw;
    height: 97vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
.int{
    width: 200px;
    height: 200px;
    transition: 0.25s;
}.int:hover{
    transform: scale(1.10);
}