body{
    background-image: url(https://www.teahub.io/photos/full/236-2364108_world-map-video-game.jpg);
    background-size: 100vw 100vh;
}
button{
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 5px;
    cursor: pointer;
}
