@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
body{
    font-family: 'Saira Stencil One', cursive;
    color:rgb(129, 199, 23)
}
button{
    font-family: 'Saira Stencil One', cursive;
    color:rgb(129, 199, 23)
}
input{
    font-family: 'Saira Stencil One', cursive;
    color:rgb(129, 199, 23)
}
select{
    font-family: 'Saira Stencil One', cursive;
    color:rgb(129, 199, 23)
}
