@font-face {
    font-family: "mario";
    src: url("./Fonts/Retro Gaming.ttf")format('truetype');
    font-style: normal;
    font-size: normal;
}
body{
    font-family: "mario";
}
button{
    width: 100px;
    background-color: white;
    font-family: "mario";
    color:white
}
input{
    font-family: "mario";
}
select{
    font-family: "mario";
}
